@import './settings';
@import './base';
@import './matches';
@import './tournament';
@import './stats';
@import './menu';
@import './filter';

.ardela {
  font-family: 'Ardela Edge', sans-serif;
  font-weight: bolder;
  font-style: italic;
  text-transform: uppercase;
}

.ardela-nu {
  font-family: 'Ardela Edge', sans-serif;
  font-weight: bolder;
  font-style: italic;
}

.roboto {
  font-family: 'Roboto', sans-serif;
  text-shadow: 2px 2px 6px rgba(0,0,0,0.9);
}

.link {
  color: inherit!important;
}

.txt-shadow {
  text-shadow: 2px 2px 6px #000000;
}

.margin-main {
  padding-top: 4.25rem;
}

.color-blue {
  color: $blue!important;
}

.mb-0{
  margin-bottom: 0rem!important;
}
.mb-n1 {
  margin-bottom: -1rem!important;
}
.char-list-sm-title{
  margin-top: 0.4rem;
  margin-right: 0.3rem;
  font-weight: bolder;
}

.font-bolder {
  font-weight: bolder;
}

.font-weight-normal {
  font-weight: normal!important;
}

#react-select-2-listbox, #react-select-3-listbox{
  z-index: 3!important;
}

.Selector{
  color: black!important;
}