.hover_detail_bg {
  position: absolute;
  opacity: 0.8;
  z-index: 10;
  background-color: rgba($color: #000000, $alpha: 0)!important;
}

.hover_detail_txt {
  opacity: 0.8;
  margin-top: 12px;
  border: 1px solid $blue;
  border-radius: 8px;
  background-color: $light;
  padding: 0.4rem;
  border-top: none;
  border-bottom: none;
}

.char-list-block {
  background-color: $more-light;
  margin: 0.2rem;
}

.char-list-block:hover {
  background-color: lighten($light, 8%);

}

.char-list-title {
  letter-spacing: -1px;
  font-weight: bold;
  text-transform: uppercase;
  font-style: italic;
  color: $blue;
}

.chart-table{
  display: block;
  overflow-x: auto;
  white-space: nowrap;
  vertical-align: initial!important;
  height: 80vh;
}

.chart-table::-webkit-scrollbar {
  width: 0.45rem;
  height: 0.6rem;
}
 
.chart-table::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
 
.chart-table::-webkit-scrollbar-thumb {
  background-color: $blue;
  border-radius: 2rem;
}

.table__char-name{
  background-color: rgba($color: #000000, $alpha: 0)!important;
  margin-left: -5.5rem!important;
  z-index: 2;
  position: relative;
}
.border-top-none{
  border-top: none!important;
}
.border-left-none{
  border-left: none!important;
}
.table-top-left{
  background-color: #373b3e!important;
}
.table__char-div-h{
  width: 5rem!important;
  padding: 0!important;
  background-color: inherit!important;
  overflow: hidden;
}

.table__char-img-h{
  width: 12rem!important;
  object-fit: contain!important;
  margin-left: -1.1rem;
  border: 1px solid #2c3034!important;
}

.fixed-table-img-top {
  position: -webkit-sticky; // this is for all Safari (Desktop & iOS), not for Chrome
  position: sticky;
  top: 0;
  z-index: 1; // any positive value, layer order is global
}

.fixed-table-img-top {
  position: -webkit-sticky; // this is for all Safari (Desktop & iOS), not for Chrome
  position: sticky;
  top: 0;
  z-index: 3; // any positive value, layer order is global
}

.fixed-table-img-left {
  position: -webkit-sticky; // this is for all Safari (Desktop & iOS), not for Chrome
  position: sticky;
  left: 0;
  z-index: 1; // any positive value, layer order is global
}

.table-dark {
  --bs-table-color: #fff;
  --bs-table-bg: #212529;
  --bs-table-border-color: #373b3e;
  --bs-table-striped-bg: $blue!important;
  --bs-table-striped-color: #fff;
  --bs-table-active-bg: #373b3e;
  --bs-table-active-color: #fff;
  --bs-table-hover-bg: rgba(#373b3e, 0.6)!important;
  --bs-table-hover-color: #fff;
  color: var(--bs-table-color);
  border-color: var(--bs-table-border-color);
}

.show-button {
  padding: 0.2rem 1rem;
  border-radius: 0.25rem;
  border: 0.1rem solid $blue;
  cursor: pointer;
}

.show-button:hover {
  background-color: rgba($blue,0.6);
}

.show-button_active {
  background-color: $blue;
}

.recharts-negative-m {
  margin-left: -2.5rem;
}

.stats-nav-active, .stats-nav-active:hover{
  color: black!important;
}